* {
  font-family: "Caveat", cursive;
}
body {
  padding: 0;
  max-width: 800px;
  margin: auto;
}
h1 {
  text-align: center;
  font-weight: bold;
}

#username-section,
#game-section {
  padding: 10px;
  border-radius: 10px;
  background: #e7e7e7;
  margin-top: 10px;
}
#game-section {
  display: none;
}
input {
  padding: 10px;
  border: 0px;
  border-radius: 10px;
  margin: 5px;
}
.user-submit {
  padding: 10px;
  border: 0px;
  border-radius: 10px;
  margin: 5px;
  background: red;
  color: white;
  cursor: pointer;
}
.side-chooser {
  padding: 10px;
  background: #fffbe5;
  margin: 5px;
  text-align: center;
  font-weight: bold;
}
.head-side {
  width: 80px;
  padding: 10px;
  border: 0px;
  border-radius: 10px;
  margin: 5px;
  background: #2c7873;
  color: white;
  cursor: pointer;
}
.tail-side {
  width: 80px;
  padding: 10px;
  border: 0px;
  border-radius: 10px;
  margin: 5px;
  background: #d60d4b;
  color: white;
  cursor: pointer;
}
#result,
#flipping {
  padding: 10px;
  background: #fffbe5;
  margin: 5px;
  text-align: center;
  font-weight: bold;
}
#result,
#flipping {
  display: none;
}
#flipping img {
  width: 30px;
}
